body { /* remove body selector later */
  margin: 0;
}

/* style for the app content */
.App {
  min-height: 100vh;
  margin: auto;
  color: #282c34;
  background-color: purple;

  display: grid;
  grid-template: 80px 1fr 100px / auto;
  grid-row-gap: 10px;
}
  .App > * {
    border-radius: 25px;
  }


  #App-header {
    background-color: #282c34;
    color: whitesmoke;
  }
    #App-header h1 span {
      color: white;
    }


  #App-main {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
  }
    #App-main > * {
      background-color: yellow;
    }
    #App-main h3 {
      width: 90%;
      margin: auto;
    }
    #bankomat {
      height: auto;
      width: 40%;
      margin: auto;
    }

    
  #App-footer {
    background-color: #282c34;
    color: whitesmoke;
  }




/* media queries */
@media screen and (min-width: 1200px) {
  .App {
    grid-row-gap: 20px;
  }
    #App-main {
      max-width: 1200px;
    }
}